*{
margin:0px;	
padding:0px;
font-family: 'Jost', sans-serif;
}
.cistac{clear:both;}
header{
position:-webkit-sticky;
position:sticky;
z-index:2;
top:0px;
width:96,5%;
padding:20px;
opacity:0.8;
background-color:white;	
}
	
a{
text-decoration:none;
color:black;

}
#logo{
float:left;	
width:25%;
margin-top:5px;
padding-left:15px	
}
#logo h1{
font-size:40px;	
}
#logo h1 a .c {color:#FF1493;}
#logo h1 a .d {color:#FF1493;}

nav{float:right;}

ul{list-style-type:none;}
nav ul{
margin-top:25px;
float:right;



}

nav ul li{  	
display:inline;
float:left;
margin-right:60px;
margin-left:20px;
text-transform:uppercase;
font-size:17px;
transition-property:color;
}
nav ul li a:hover{
color:deeppink;	
}

#sadrzaj{
height:600px;
background-color:;
}
#sadrzaj h1{
text-align:center;
text-transform:uppercase;
word-spacing:7px;
margin-top:50px;
border-bottom:1px solid;
font-size:40px;	
color:deeppink;
text-shadow:4px 5px #33cccc;
}
.forma-red {
padding-left:30%;
padding-top:5%;	
}
.forma-red{margin-bottom:20px;}
.polje{
	width:37%;
	float:left;
}
.polje input , .polje label , .forma-red label , .forma-red textarea{
	display:block;
	width:60%;
}

.forma-red label{
	margin-bottom:7px;
	font-size:20px;
	
}

.forma-red input , .forma-red textarea{
	border:2px solid #33cccc;
	padding:7px 0px;
}

.forma-red textarea{height:70px;}
.forma-red input[type="button"]{
	width:60%;
	background-color:deeppink;
	border:none;
	font-size:20px;
	color:#fff;
	padding:10px 0px;
}
footer{
width:100%;
height:300px;

background-color:
 #85e0e0;}

footer  .kontakt , .linkovi{
width:15%;
display:inline;
margin:10px auto;
color:black;
}

.n1 , .n2{
color:white;
font-size:25px;
text-transform:uppercase;
}
.kontakt ul li , .linkovi ul li{
font-size:20px;
}#logo2 .c , .d{
color:deeppink;	
}
footer .kontakt{
float:right;
margin-right:10%;
}
.kontakt i{color:deeppink;}
footer .linkovi{
float:left;
margin-left:10%;
}

footer #logo2{
font-size:35px;
text-align:center;
}

.linkovi ul li{
transition-property:color;
}
.linkovi ul li a:hover{color:deeppink;}

.cistac{clear:both;}

#dmreze{

 background-color:#2bc4cb;
padding-top:50px;
 height:80px;

}
#dmreze i{
margin-right:80px;
color:white;
font-size:30px;

}
#dmreze ul li{
	display:inline;
	margin:10px auto;
	transition-property:color;
}
#dmreze ul{margin-left:30%;}

#dmreze ul li a i:hover{color: 	 #ff3385;}
