*{
margin:0px;	
padding:0px;
font-family: 'Jost', sans-serif;
}


}
.cistac{clear:both;}
header{
position:-webkit-sticky;
position:sticky;
z-index:2;
top:0px;
width:96,5%;
padding:20px;
opacity:0.8;
background-color:white;
}
	
a{
text-decoration:none;
color:black;

}
#logo{
float:left;	
width:25%;
margin-top:5px;
padding-left:15px	
}
#logo h1{
font-size:40px;	
}
#logo h1 a .c {color:#FF1493;}
#logo h1 a .d {color:#FF1493;}

nav{float:right;}

ul{list-style-type:none;}
nav ul{
margin-top:25px;
float:right;



}

nav ul li{  	
display:inline;
float:left;
margin-right:60px;
margin-left:20px;
text-transform:uppercase;
font-size:17px;
transition-property:color;
}
 nav ul li a:hover{
color:deeppink;	
}
#sadrzaj{
	
	
}
#sadrzaj{

height:800px;
background:url("pexels-max-vakhtbovych-6899550.jpg") ;
background-size:cover;
width:100%;
background-position:center;


}

#tema , #tema2{
	
position:relative;
background-color:deeppink;
}


#tema{
top:34%;
left:34%;
width:33%;
background-color:#00cccc;
border:3px solid white;

}
.naslov{
text-align:left;
padding-top:8%;
padding-left:22%;
font-size:44px;
color:white;

	
}
#tema2{
right:-40%;
width:20%;
border:3px solid;
border-color:white;
}


.podnaslov{
	padding-top:25%;
	padding-left:20%;
	font-size:30px;
	color:white;
}

#tema3{
background-color:white;
position:relative;
opacity:0.5;
}
.prvi-text{
text-align:center;
	

}

.cistac{clear:both;}

#onama{
width:100%;
height:400px;
background-color:white;
}

#usluge{
background-color: white;
height:700px;
padding-top:5%;

}



.frizer , .manikir , .depilacija{
	width:25%;
	height:50%;
	float:left;
	margin-left:4%;
	margin-right:3%;
	margin-top:7%;
	background-color: white;
	border:2px solid;
	border-color: #ff80b3 ;
	opacity:0.8;
	box-shadow: 12px 10px #33cccc;
 }
 



 
 
 .naslov2{
font-size:40px;
text-align:center;	
letter-spacing:6px; 
color:#33cccc;
text-shadow:5px 5px hotpink;
border-bottom:1px solid;
}
 
 .podns1 , .podns2 , .podns3{
text-align:center;
font-size:25px;
color:white;
border-bottom:1px solid;
border-color:deeppink;
background-color:deeppink;
letter-spacing:3px;	 
 }
 
 .manikir{
background-image:url("pexels-freestocksorg-361754.jpg") ;

	 }
	
	 
	 
.frizer{
background-image:url("pexels-cottonbro-studio-7440125.jpg");
}
	
.depilacija{
	background-image:url("pexels-tima-miroshnichenko-6763618.jpg");
}

.cistac{clear:both;}
footer{
width:100%;
height:300px;

background-color:
 #85e0e0;}

footer  .kontakt , .linkovi{
width:15%;
display:inline;
margin:10px auto;
color:black;
}

.n1 , .n2{
color:white;
font-size:25px;
text-transform:uppercase;
}
.kontakt ul li , .linkovi ul li{
font-size:20px;
}
#logo2 .c , .d{
color:deeppink;	
}
footer .kontakt{
float:right;
margin-right:10%;
}
.kontakt i{color:deeppink;}
footer .linkovi{
float:left;
margin-left:10%;
}

footer #logo2{
font-size:35px;
text-align:center;
}

.linkovi ul li{
transition-property:color;
}
.linkovi ul li a:hover{color:deeppink;}

.cistac{clear:both;}

#onama{
	height:500px;
}

#onama h1{
text-align:center;
text-transform:uppercase;
word-spacing:7px;
margin-top:10px;
border-bottom:1px solid;
font-size:40px;	
color:#33cccc;
text-shadow:5px 5px hotpink;
}

#text-onama p{
column-count:3;
column-gap:30px;
column-rule:2px solid deeppink;	
letter-spacing:2px;
word-spacing:1px;
line-height:25px;
font-weight:1000;
}
#text-onama{
margin-top:50px;
}

#text-onama h2{
color:deeppink;

}

.pocetak , .vusluga , .vi{
width:20%;
height:150px;
word-break:keep-all;
margin:2.5% 6.5%;
float:left;
font-size:20px;
}

#dmreze{

 background-color:#2bc4cb;
padding-top:50px;
 height:80px;

}
#dmreze i{
margin-right:80px;
color:white;
font-size:30px;

}
#dmreze ul li{
	display:inline;
	margin:10px auto;
	transition-property:color;
}
#dmreze ul{margin-left:30%;}

#dmreze ul li a i:hover{color: 	 #ff3385;}
